* {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    color:#ebecf0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-transform: capitalize;
    white-space: pre-wrap;
}

.card button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    color: #fff;
    background: #333;
    z-index: 2;
    opacity: 0;
    transition: 400ms;
}

#library {
    margin: 1em 0;
    padding: 0;
    max-width: 30em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#library div {
    margin: 1em 1em;
    padding: 40px 20px;
    background: #2b2b2b;
    position: relative;
    transition: 400ms;
}

.card a {
    color: #85baff;
    text-align: right;
    display: block;
    z-index: 1;
}

.card a::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: ' ';
}

.card:hover a,
.card:focus-within a{
    color: #cfe4ff;
}

.card:hover button,
.card:focus-within button {
    opacity: 1;
}

.card:hover,
.card:focus-within {
    background: #484848!important;
    box-shadow: 0px 3px 6px #000;
}